TESTNET=true
UNISAT_TOKEN=4660cc79b4941f3a5ecca80b33b8b5781408236b7f5537601c6f64230611ae58
MONGO_URI=mongodb+srv://nikolicmiloje0507:byrW1cYDK807qd13@cluster0.z8spqcz.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0/RuneX
NETWORK=testnet

CARDINAL_ADDRESS=tb1ppdffzw7jl9gch5ny77kuep79fgmh7n90d2j8aysv95lrwghl795s5crggu
CARDINAL_PRIVATE_KEY=cVovuLc7B9ZFiw2PX4ZVSTN8CTMhMLprPz2YFPeqX89LRV2of9eB
CARDINAL_PUBLIC_KEY=02c7dca0dd027c4abe975103ee3f6217e1249ba0afe0b28f6fac7e9a5f7ef57cf7

ORDINAL_ADDRESS=tb1ppdffzw7jl9gch5ny77kuep79fgmh7n90d2j8aysv95lrwghl795s5crggu
ORDINAL_PRIVATE_KEY=cVovuLc7B9ZFiw2PX4ZVSTN8CTMhMLprPz2YFPeqX89LRV2of9eB
CARDINAL_PUBLIC_KEY=02c7dca0dd027c4abe975103ee3f6217e1249ba0afe0b28f6fac7e9a5f7ef57cf7

JWT_SECRET_KEY=JWT_SECRET_KEY
ADMIN_PRIVATE_KEY=cVovuLc7B9ZFiw2PX4ZVSTN8CTMhMLprPz2YFPeqX89LRV2of9eB